html {
    min-height: 100%;    
}

#title {
    font-family: cursive;
}

#description {
    font-family: cursive;
    font-size: 16px;
}

#survey-form {
    box-shadow: 0 10px 20px rgba(0,0,0,0.7), 0 6px 6px rgba(0,0,0,0.3);    
    padding-top: 20px;
    padding-bottom: 20px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

body {    
    margin: 0;
    background-image: linear-gradient(115deg, rgba(0,81,107,0.9), rgba(244,242,157,0.9) ), url('https://cdn.pixabay.com/photo/2016/03/27/23/00/weight-lifting-1284616_960_720.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100%;
    text-align: center;
    line-height: 1.7;    
}

#survey-form label {
    display: block;
    font-family: cursive;    
}

#survey-form input[type="text"],
#survey-form input[type="email"],
#survey-form input[type="number"]
{
    width: 350px;
    height: 25px;
}

#survey-form textarea
{
    width: 350px;
    height: 100px;
}

p {
    font-family: cursive;
}

.box-container {
    display: block;
    text-align: left;
    max-width: 250px;
    margin-left: auto;
    margin-right: auto;    
}

#submit {
    font-family: cursive;
}